/.luarc.json
.gitignore
.DS_Store
*~
.ruby-version
Core.bib
pandoclog.json
.Rproj.user
_site/
/.luarc.json
/.quarto/
_extensions/include-code-files/
_extensions/quarto-ext/
_extensions/.DS_Store
_extensions/.DS_Store
_site/changelog.html
_site/index.html
_site/listings.json
_site/sample.html
_site/search.json
_site/sitemap.xml
_site/docs/About/1-About-Cite-Tools.html
_site/docs/About/2-About-Quarto.html
_site/docs/About/3-About-BCDAV.html
_site/docs/About/About.html
_site/docs/About/index.html
_site/docs/citetools/Citation-Backlinks/index.html
_site/docs/citetools/Cite-Field/index.html
_site/docs/citetools/Multiple-Bibliographies/1-Prime-Matter.html
_site/docs/citetools/Multiple-Bibliographies/2-How-to-set-it-up.html
_site/docs/citetools/Multiple-Bibliographies/index.html
_site/docs/citetools/Multiple-Bibliographies/3-Advanced/1-Using-Multiple-Bibliographies-in-Scrivener.html
_site/docs/citetools/Multiple-Bibliographies/3-Advanced/index.html
_site/site_libs/bootstrap/bootstrap-dark.min.css
_site/site_libs/bootstrap/bootstrap-icons.css
_site/site_libs/bootstrap/bootstrap-icons.woff
_site/site_libs/bootstrap/bootstrap.min.css
_site/site_libs/clipboard/clipboard.min.js
_site/site_libs/quarto-html/quarto-syntax-highlighting-dark.css
_site/site_libs/quarto-html/quarto-syntax-highlighting.css
_site/site_libs/quarto-html/quarto.js
_site/site_libs/quarto-nav/quarto-nav.js
_site/site_libs/quarto-search/autocomplete.umd.js
_site/site_libs/quarto-search/fuse.min.js
_site/site_libs/quarto-search/quarto-search.js
