/.luarc.json
.gitignore
.DS_Store
*~
.ruby-version
Core.bib
.Rproj.user
/.quarto/
_extensions/include-code-files
_extensions/quarto-ext
.quarto/
.quarto/xref/3394d9e1
.quarto/preview/lock
.quarto/idx/changelog.md.json
.gitignore
.quarto/idx/input.qmd.json
.quarto/idx/changelog.md.json
.quarto/idx/index.qmd.json
.quarto/idx/input.qmd.json
